.page__content {
  padding-top: 0 !important;
}

h1, .page__title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// .teaching-sidebar {
//   font-size: 0.95rem;
// }

// .teaching-sidebar strong {
//   display: block;
//   font-weight: bold;
//   color: black;
//   margin-top: 1rem;
//   margin-bottom: 0.5rem;
// }

// .teaching-sidebar ul {
//   list-style: none;
//   padding-left: 0;
//   margin: 0;
// }

// .teaching-sidebar li {
//   margin-bottom: 0.3rem;
// }

// .teaching-sidebar a {
//   color: #007acc;
//   text-decoration: none;
// }

// .teaching-sidebar a:hover {
//   text-decoration: underline;
// }

// /* 본문과 사이드바 정렬용 */
// .page {
//   display: flex;
//   flex-direction: row;
// }

// .page__sidebar {
//   flex: 0 0 200px;
//   padding-right: 2rem;
// }

// .archive {
//   flex: 1;
// }

// /* 사이드바 제목 (Courses, Lecture Notes)용 */
// .teaching-sidebar strong {
//   display: block;
//   font-weight: bold;
//   color: black;
//   margin-top: 1rem;
//   margin-bottom: 0.5rem;
// }